body {

  background-color: #FDD835;
  font-family: 'Jost', sans-serif;
  color: #fff;
}

  h1 { 
  text-align: center;
  font-size: 48px;
  color: #232c3d;

}

h2 {
  text-align: center;
  font-size: 18px;
  color: #232c3d;
}
  
  .container-formulario {
  width: 400px;
  padding: 10px;
  margin: 0px auto; 
  border-radius: 5px; 
  background: white; 
  box-shadow: 0px 10px 40px 0px rgba(47,47,47, 1);
  }

.labelMat {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: red;
  }

  .grid-notas {
    padding-left: 30px;
  }

  .grid-notas-porc {
    display: flex;
   gap: 10px 30px;
   justify-content: space-around;
   color: red;
   padding-top: 16px;
   margin-bottom: 10px
  }

  .calculoNotas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .btn-calcular {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }



  input[type="text"]{
    
    margin: 10px auto;
    padding: 10px;
    display: block;
    border: 1px solid lightgrey;
    width: 274px;
    border-radius: 5px;
    background: none;
    color: black;
    }

    Input[type="text"]:focus { 
      outline: none;
    }

    .notaPorc {
      display: flex;
      flex-wrap: wrap;
    }
    

    /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}